body{
    margin: 0;
    font-family: sans-serif;
    position:fixed;
    width: 100%;
    height: 100%;
}
.main-content{
    background-color:rgb(228, 222, 222);
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    widows: 100%;
    background-color: black;
    opacity: .7;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
}
.message-section{
    flex-basis: 80%;
    overflow-y: scroll;
  
}

.form-section{
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    widows: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 222, 222);
    padding:10px;
    

}



.message-box{
   height: 50px;
   width: 500px;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
   border: none;
   border: 1px solid rgb(100, 98, 98);
}



.btn-send{
    height: 50px;
    width: 100px; 
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
    color:rgb(0, 0, 0);;
    font-size: 20px;
    border: 1px solid rgb(100, 98, 98);
}

@media(max-width:600px){
    
 
     .message-box{
       
         width: 200px;
         height: 40px;
        
      }

      .btn-send{
        height: 40px;
        width: 80px; 
    }
    
 }
 

.message-section, .message-section .messages
{
    transform:rotateX(180deg);
  
}





.form-section-welcome{
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    widows: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: .7;
}

.message-welcome{
    
}

.join-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.join-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.join-name{
   height: 40px;
   width: 300px;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
   border: none;
   border: 2px solid rgb(0, 0, 0);
   margin-bottom: 10px;
}
.btn-join{
    margin: 0 auto;
    height: 40px;
    width: 100px; 
    border-radius: 5px;
    background-color: rgb(133, 125, 125);;
    color:rgb(0, 255, 34);;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
}