.header{
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
    
}

.main-content{
    
   
}
.content{
    
}
.message-section{
  
    height: 70vh;
    width: 50vw;
    overflow-y: scroll;
    background-color: rgb(233, 229, 229);
    margin: 10px auto;
}
.form-section{
  
  bottom:0px;
  margin:30px auto;
  width: 50vw;
  
}

.message-box{
    width: 35vw;
    height: 35px;
    border-radius: 5px;
}
.btn-send{
    width: 10vw;
    height: 35px;
    border-radius: 5px;  
    background-color: black;
    color:white;
}

.message-section, .message-section .messages
{
    transform:rotateX(180deg);
  
}